*{
    margin: 0;
    padding: 0;
}

header,section,footer,aside,nav,article,figure,figcaption{
    display: block;
}

body{
    color:#666666;
    background-color:#f9f8f6;
    background-image: url(img/dark-wood.jpg);
    background-position: center;
    font-family: Georgia,Times,serif;
    line-height: 1.4em;
    margin: 0px;
}

.wrapper{
    width: 940px;
    margin: 20px auto 20px auto;
    border:2px solid #000000;
    background-color: #ffffff;

}

header{
    height: 162px;
    background-image: url(img/header.jpg);
}

h1{
    text-indent: -9999px;
    width: 940px;
    height: 130px;
    margin: 0px;

}

nav,footer{
    clear:both;
    color:#ffffff;
    background-color:antiquewhite;
    height: 30px;
}

nav ul{
    margin:  0px;
    padding: 5px 0px 5px 30px;
   color: red;    

}

nav li{
    display: inline;
    margin-right: 40px;

}
nav li a{
    color:black;

}

nav li a:hover,nav ni a.current{
    color:red;

}

section.courses{
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;
}
article{
    clear: both;
    overflow: auto;
    width: 100%;

}

hgroup{
    margin-top: 40px;

}

figure{
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}

figcaption{
    font-size: 90%;
    text-align: left;

}
aside{
    width: 230px;
    float: left;
     padding: 0px 0px 0px 20px;

} 
aside section a{
    display: block;
    padding: 8px;
    border-bottom: 1px solid #eeeeee;

}

aside section a:hover{
    color:#985d6a;
    text-decoration: none;
}

a{
    color: #de6851;
    text-decoration: none;

}

h1,h2,h3{
    font-weight: normal;

}

h2{
    margin: 10px 0px 5px 0px;
    padding: 0px;

}

h3{
    margin: 0px 0px 10px 0px;
}

aside h2{
    padding: 30px 0px 10px 0px;
    color:#de6851;
}

footer{
    font-size: 81%;
    color: black;
    padding: 7px 0px 0px 2px;
}



